.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    //justify-content: center;
    margin-top: 20px;
    margin-bottom: 45px;
}

.card {
    margin-top: 30px;
    margin-bottom: -10px;
    width:800px;
    height: 750px;
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    border:solid 7px #000;
    border-radius: 10px;
    background-color: #fff;
    justify-content: space-between;
    //filter:drop-shadow(5px 5px 1px rgba(255, 255, 255, 1));

    .cardImg {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        height: 750px;
        width: 350px;
        img {
            width:250px;
            margin-top: 250px;
            filter:drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.8));
            margin-left: 80px;
        }

        .footer_card {

            display:flex;
            margin-left: -120px;
            img {
                // justify-content: left !important;
                margin-top: 180px;
                width: 80px;
                margin-left: 8px;
            }
        
        }
    }

    .details {
        margin-top: 50px;
        margin-bottom: 50px;
        // margin-left: 0px;
        justify-content: left;
        width: 350px;
        filter:drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
        h1 {
            text-transform: uppercase;
        }
    }
    
}

/* CSS */
.button-30 {
    margin-top: 50px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
  
