<div class="container">
  <div class="navbar">
    <a href="#"><img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png"></a>
    <!-- <a class="corporativeName" href="#"><p>&nbsp;Pokédex</p></a> -->
    <div class="buttons">
      <div><a href="/historia">HISTORIA</a></div>
      <div><a href="/pokemon">POKÉMON</a></div>
      <div><a href="/items">ITEMS</a></div>
      <!-- <div>LUGARES</div> -->
    </div>
    <div class="searchBar">
      <div>
        <input type="text">
        <button class="searchButton"><span class="fas fa-search"></span></button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<hr class="footerHR">
<div class="footer">
  <p>Copyright &copy; 2022 - All Rights Reserved<a class="easter" href="/easter-egg">.</a></p>
</div>

<!-- <div class="container-nav">
    <div class="logo">

    </div>
    <div class="links">
      <ul>
        <li>Home</li>
        <li>Random</li>
        <li>Place Holder</li>
        <li>Place Holder</li>
        <li>Place Holder</li>
      </ul>
    </div>
    <form class="button-div">
      <input type="search" placeholder="Buscar">
      <button class="enviarSolicitud" type="submit">Buscar</button>
    </form>
  </div>
</div> -->