.historia {
    color: #fff;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.385);
    //margin-top: 80px;
    //margin-bottom: 80px;
    //margin-left: 80px; 
    color: rgb(255, 255, 255);
    border-radius: 35px;
    //filter:drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.363));
    //max-height: 600px;
    //overflow: hidden;
    border: solid 5px;
    padding:30px;
}

h2 {
    font-size: 35px;
}

.contenedorTexto {
    margin:30px;
}
