/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(90deg, rgba(18,13,33,1) 0%, rgba(31,29,78,1) 25%, rgba(66,62,142,1) 50%, rgba(31,29,78,1) 75%, rgba(18,13,33,1) 100%);
    //background-color: rgb(24, 36, 77);
    //background: linear-gradient(89deg, rgba(255,209,249,1) 0%, rgba(183,201,231,1) 30%, rgba(188,246,255,1) 69%, rgba(230,255,218,1) 100%);
    //background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    //background-color: #000;
    margin: 0px !important;
    color: #000;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
